
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4e7d2;
  padding: 20px;
  border-radius: 10px;
  max-width: 550px;
  margin: 0 auto;
  border: 10px solid #deb887;
}

.popup {
  position: relative;
  padding: 20px;
  overflow: auto;
}

.popup-content {
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.5;
  color: #46220d;
  max-height: none;
  overflow: auto;
}

@media only screen and (max-width: 767px) {
  .popup-container {
    width: 80%;
    height: 80%;
    max-width: none;
  }

  .popup-content {
    overflow-y: auto;
    height: 75%;
  }
}


#text {
  font-family: 'Deine gewünschte Schriftart', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

#text::after {
  content: '|';
  animation: blink 1s infinite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.roll-container {
  background-color: #f4e7d2; 
  padding: 20px;
  border-radius: 10px; 
  max-width: 400px; 
  margin: 0 auto; 
}

